/* appling google font over the website  */
body{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}
/* styling menu icon */

.nav-menu{
    border: none;
    background-color: #fff;
    font-size: 1.5rem;
    color: rgb(132, 118, 226);
}
/* styling navbar links  */
.navbar-nav a{
    color: black;
    position: relative;
}
.navbar-nav a:hover{
    color: rgb(132, 118, 226);
}
.navbar-nav a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    top: 35px;
    position: absolute;
    background: rgb(132, 118, 226);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
.navbar-nav a:hover:after { 
    width: 100%; 
    left: 0; 
  }
  /* styling contact btn  */
.c-btn{
    border: none;
    background: rgb(132, 118, 226);
    color: #fff;
    font-size: 1.2rem;
}
.c-btn:hover{
    background-color: transparent;
    border: 2px solid rgb(132, 118, 226);
    cursor: pointer;
    color: rgb(132, 118, 226);
}
.content{
    position: absolute;
    top: 35%;
    left: 10%;
    transform: translateY (-50%);
}
h1{
    color: rgb(132, 118, 226);
    margin: 20px 0px 20px;
    font-size: 75px;
}

h3{
    color: rgb(0, 0, 0);
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    font-size: 20px;
}
span {
    color: #000000;
}

.newslatter form {
    width: 350px;
    max-width: 100%;
    position: relative;
}

.newslatter form input:first-child {
    display: inline-block;
    width: 100%;
    padding: 10px 130px 10px 15px; /* Reduced padding */
    border: 2px solid rgb(132, 118, 226);
    outline: none;
    border-radius: 10px;
}

.newslatter form input:last-child {
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 8px 30px; /* Reduced padding */
    border-radius: 30px;
    background-color: rgb(132, 118, 226);
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px #858585;
    top: 6px;
    right: 6px;
}
/* styling home section starts */
.home{
    background: rgb(223, 220, 238);
    padding: 30px 0px 10px 0px;
    height: 650px;
}
.home h2{
    font-size: 3rem;
    line-height: 4rem;
}
.c-orange{
    color: rgb(132, 118, 226);
    font-weight: 700;
    font-size: 4rem;
}
.home p{
    width: fit-content;
    margin-top: 1rem;
    font-size: 1.2rem;
}
.h-btn:hover{
    background: rgb(132, 118, 226);
    color: #fff;
    transform: translateY(-20px);
    transition-duration: 1s;
}
.link{
    text-decoration: none;
    font-size: 1.2rem;
    color: #fca61f;
    position: relative;
}
.link::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    top: 20px;
    background-color: rgb(132, 118, 226);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.link:hover{
    color: rgb(132, 118, 226);
}
.link:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
/* adding animation to home section image  */
.home img {
    animation: floatimg 4s ease-in-out infinite;
    margin-left: auto;
    margin-right: 10px; /* Added px for the unit */
}
@keyframes floatimg {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); /* Adjust for your effect */
    }
    100% {
        transform: translateY(0);
    }
}

/* about section starts */
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #1d00655e;
}
.about img{ 
    height: auto;
    width: 430px;
}
.about-text{
    width: 550px;
}
.main{  
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background-color: rgb(132, 118, 226); 
    color: white;
    font-size: 14px;
    text-decoration: none; 
    border: 2px solid transparent; 
    font-weight: bold; 
    padding: 16px 35px;
    border-radius: 30px;
    transition:.4s;
}
button:hover{
    background-color: transparent;
    border: 2px solid rgb(132, 118, 226);
    cursor: pointer;
}

/* skill section starts */
.skill{
    background-color: rgb(234, 234, 249);
}
.progress-card{
    padding: 12% 10% 10% 15%;
    background-color: #fff;
    text-align: center;
    border-radius: 10%;
}
.progress-card:hover{
    transform: scale(1.1,1.1);
    transition-duration: 0.6s;
}
.circular-progress{
    position: relative;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background: conic-gradient(#7d2ae8 3.6deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.circular-progress::before{
    content: "";
    position: absolute;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: #fff;
}
.progress-value{
    position: relative;
    font-size: 1.5rem;
    font-weight: 600;
}
.html-progress{
    color: #d20000;
}
.javascript-progress{
    color: #2140b0;
}
.php-progress{
    color: #047d00;
}
.reactjs-progress{
    color: #916ad1;
}
.text{
    font-size: 1.2rem;
    font-weight: 500;
}
.heading p{
    font-size: 1.3rem;
}

/* footer section starts */
footer{
    background-color: #211e39;
}

footer .link-group a{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #6c757d;
    font-size: 1.1rem;
    margin-top: 1rem;
}
footer .link-group a:hover{
    color: #fca61f;
}
.social-links button{
    border: none;
    margin-right: 1rem;
    font-size: 1.2rem;
    background-color: #fff;
    padding: 14px 15px 10px 15px;
}
.social-links .dribble{
    color: #d20000;
}
.social-links button:hover{
    color: #fff;
    transform: translateY(-20px);
    transition-duration: 1s;
}
.social-links .dribble:hover{
    background-color: #d20000;
}
.social-links .whatsapp{
    color: #047d00;
}
.social-links .whatsapp:hover{
    background-color: #047d00;
}
.social-links .behance{
    color: #2140b0;
}
.social-links .behance:hover{
    background-color: #2140b0;
}

/* styling back to top button */
#btn-back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: none;
    font-size: 1.4rem;
    background-color: rgb(132, 118, 226);
    color: #fff;
    animation: pulse 3s infinite;
}
